table{
    width: 95%;
    margin: auto;
    margin-top: 2vh;
}

#viewButton{
    text-decoration: none;
    color: black;
}

#editButton{
    text-decoration: none;
    color: white;
}

button{
    margin-left: 1vh;
}